<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="url" value="http://automationpractice.com/" />
    <add key="BrowserType" value="Chrome" />
    <add key="RemoteBrowserType" value="Chrome"/>
    <add key="RemoteHubServer" value="http://192.168.0.178:4444/wd/hub"/>
    <add key="username" value="TestUser@Automation.com" />
    <add key="password" value="12345" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.1.0" newVersion="3.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 
  <specFlow>
    
    <stepAssemblies>
      <!-- <stepAssembly assembly="{name-of-assembly-containing-bindings}" /> -->
    </stepAssemblies>
  </specFlow>
</configuration>